body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
  zoom: 2.5;
}

.info {
  margin-left: 20px;
}

.status {
  /* border: 1px solid blue; */
  width: 100px;
  margin-bottom: 10px;
}

.game_TODO {
  border: 1px solid red;
  height: 80px;
  overflow: scroll;
}